<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <a class="navbar-brand">ProductApp</a>
      </div>
      <div class="col-7">
        <ProductSearch @store={{this.store}}
                       @searchQuery={{this.searchQuery}}/>
      </div>
    </div>
  </div>
</nav>
<div class="container" local-class="app">
  {{outlet}}
</div>